h1 {
  color: green;
  text-align: center;
  }

table {
  border-collapse: collapse;
  margin:auto;
  width:650px;
  padding: 8px 0px 8px 0px;
  text-align: center;
  }

.tr1 {
  background-color: yellow;
  border: 2px solid black;
  width:20%;
  font-weight:bold;
  }


.tr2 {
  color: red;
  }

.tr3 {
  color: blue;
  }

body {
  font-family: Verdana;
  }

.border {
  border: 2px dotted blue;
  }
  
td {
  padding:4px 0px 4px 0px;
  }




  

  
  